/*--------- Polymorphic */

.small-img {width:44%; height:8em;  margin-bottom:0.6em; padding: 0.4em;}
.small-img-edit{width: 86%; margin-bottom:0.6em; padding: 0.4em; border: 1px solid black;}

.gii-img {width: 24%;}

.head-name{padding-top:0.7em; padding-bottom:0.7em; background: #17a2b8;} /* bg-info */
.gii-content {padding-top:0.5em; padding-bottom:0.5em; }

.posts-grid{margin-left: 3em;}

.underlined{text-decoration: underline; text-decoration-color:black;  padding-top: 4em; } 
.link-text {color:white;}

.timestamp{font-size:0.6em; color: green;}

.crud-div{overflow-y: scroll;}


 /* Mobile */
 @media screen and (max-width: 480px) { 
     .posts-grid{margin-left: 0.1em; margin-top: 0.8em;}
	 .crud-div{width:100%; overflow-y: scroll;}
 }
 



/* CheckBox styling*/
input.larger{
  width:  1.5em; height: 1.5em; 
}
.ch-text{margin-left:0.4em; font-size:1em; color: green;}

















/* ---------------------- Some CSS import from /css/ShopPaypalSimple/shopSimple.css */

 /* ---- Shadow CSS */
.shadowX {
	box-shadow: 0 1px 4px rgba(0, 0, 0, .3),
                -23px 0 20px -23px rgba(0, 0, 0, .6),
                 23px 0 20px -23px rgba(0, 0, 0, .6),
                inset 0 0 40px rgba(0, 0, 0, .1);
}

/* Cursor for products */
.cursorX{
	cursor: pointer;	
}

.cursorX:hover {
	background: #ddd; /*#f2f2f2;*/
    /*opacity:0.9;*/
}

/* ------------------- End Some import from /css/ShopPaypalSimple/shopSimple.css */